%li.account
  %h2= account.username
  %table.left
    %tr
      %td
        %ul
          - if account.portraits.empty?
            %li
          - else
            = render :partial => 'portrait', :collection => account.portraits
  %table.right
    - unless account.names.empty?
      %tr
        %th Names:
        %td
          %ul
            = render :partial => 'name', :collection => account.names
    - unless account.nicks.empty?
      %tr
        %th Nicknames:
        %td
          %ul
            = render :partial => 'name', :collection => account.nicks
    - unless account.sites.empty?
      %tr
        %th Sites:
        %td
          %ul
            = render :partial => 'site', :collection => account.sites
    - unless account.services.empty?
      %tr
        %th Services:
        %td
          %ul.services
            = render :partial => 'service', :collection => account.services
    / FIXME: unsure how to link to ISBN. :-(
    /
      <haml:silent>     unless account.books.empty?
      </haml:silent><haml:block>      <tr>
      <td>Books:</td>
      <td>
      <ul>
      <haml:silent>             account.books.each do |book|
      </haml:silent><haml:block>              <li><haml:loud> book.key </haml:loud></li>
      </haml:block>          </ul>
      </td>
      </tr>
      </haml:block>
